<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="ru">
<head>
  <link media="all" rel="stylesheet" th:href="@{/style/OrderStyle.css}" type="text/css"/>
</head>

<body>

<header id="logout">
  <form  sec:authorize="hasAuthority('USER')" th:method="post" th:action="@{/order/{orderId}/delete(orderId=${order.getId()})}">
    <button type="submit" >Delete order</button>
  </form>
  <form sec:authorize="hasAuthority('ADMIN')" th:method="post" th:action="@{/order/{orderId}/changeStatus(orderId=${order.getId()})}">
    <button type="submit" >Change Status</button>
  </form>

  <form th:action="@{/logout}" th:method="GET">
    <button type="submit" >Exit</button>
  </form>
</header>

<main id="main-holder">
  <div th:each="file : ${files}" id="form-field">
    <a class="file" th:href="@{/orders/{orderId}/{fileId}/download(orderId=${order.getId()}, fileId=${file.getId()})}"
       th:text="${file.getName()}">file</a>
  </div>
</main>
</body>
</html>